@import "common/fonts";
@import "common/icons";
@import "common/typography";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  @apply h-full;
  scroll-behavior: smooth;
}

body {
  @apply font-cormorant flex flex-col;
  min-width: 320px;
  min-height: 100%;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  cursor: default;
  background: $white-color;
  color: $black-color;
  overflow-x: hidden;
}

#__nuxt {
  @apply flex;
  flex: 1;
}

#__layout,
.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  overflow-x: hidden;
}

.width-wrapper {
  width: 1140px;
  @apply mx-auto;

  @include breakpoint(xl) {
    @apply w-full;
  }
}

a {
  text-decoration: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes text-slide-in {
  from {
    transform: translateY(60px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.underline-hover {
  position: relative;
  overflow: hidden;
}

.underline-hover:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: -100%;
  border-bottom: 2px solid;
  border-bottom-color: #ffffff;
  transition: all .5s;
  width: 100%;
  overflow: hidden;
  transform: translateX(0);
}

.underline-hover:hover:after {
  transform: translateX(100%);
}