// mixins here

//Для шрифтов
@mixin font($size, $weight, $line-height, $color: null) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin icon($icon) {
  -webkit-mask: url("~/assets/svg/" + $icon + ".svg") no-repeat 50% 50%;
  mask: url("~/assets/svg/" + $icon + ".svg") no-repeat 50% 50%;
}

@mixin up-breakpoint($point) {
  @if $point==xl {
    @media screen and (min-width: 1140px) {
      @content;
    }
  }

  @if $point==xxl {
    @media screen and (min-width: 1920px) {
      @content;
    }
  }
}

@mixin breakpoint($point) {
  @if $point==xl {
    @media screen and (max-width: 1140px) {
      @content;
    }
  }
}

@mixin carousel-animation($images-count, $vw-slide: null, $px-slide: null) {
  0% {
    transform: translateX(0);
  }

  @for $i from 0 through $images-count - 1 {
    $vw-slide-width: calc(100 / $images-count);
    $px-slide-width: 0;
    @if ($vw-slide) {
      $vw-slide-width: calc($vw-slide);
    }
    @if ($px-slide) {
      $px-slide-width: calc($px-slide);
    }
    $point1: ($i + 1) * calc((100 / $images-count));
    $point2: ($i + 1) * calc((100 / $images-count));

    #{$point1}% {
      transform: translateX(calc(($i + 1) * (-#{$vw-slide-width}vw + #{$px-slide-width}px)));
    }

    #{$point2}% {
      transform: translateX(calc(($i + 1) * (-#{$vw-slide-width}vw + #{$px-slide-width}px)));
    }
  }
}