.font-cormorant {
  font-family: "Cormorant", sans-serif;
}

.font-serif {
  font-family: "Source Serif", sans-serif;
}

.font-tragan {
  font-family: "Trajan", sans-serif;
}

// для h1
.title-1 {
  @include font(64px, 700, 130%)
}

// для h2
.title-2 {
  @include font(40px, 700, 130%);
}

.title-20-400 {
  @include font(20px, 400, 150%);
}

.title-14-700 {
  @include font(14px, 700, 130%);
}

.title-24-600 {
  @include font(24px, 600, 130%);
}

.title-16-400 {
  @include font(16px, 400, 150%);
}

.title-30-600 {
  @include font(30px, 600, 130%);
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.lh-150 {
  line-height: 150%;
}

.color-white {
  color: $white-color;
}

.color-black {
  color: $black-color;
}

.bg-secondary {
  background: $secondary;
}

.text-uppercase {
  text-transform: uppercase;
}

.ls-4 {
  letter-spacing: 4px;
}
